---
import Layout from '../../layouts/Layout.astro';
import { useStoryblokApi } from '@storyblok/astro';

const storyblokApi = useStoryblokApi()
const { data } = await storyblokApi.get('cdn/stories/', {
    version: 'published',
    starts_with: 'blog/',
    resolve_relations: 'author'
});

const posts = data.stories.map((story) => {
    return {
        title: story.content.title,
        date: new Date(story.published_at).toLocaleDateString('en-US'),
        image: story.content.main_image.filename,
        excerpt: story.content.excerpt,
        tags: story.tag_list,
        slug: story.slug,
        readingTime: story.content.reading_time,
        author: story.content.author
    };
});

const authors = data.rels.map((author) => {
    return {
        name: author.name,
        slug: author.slug,
        id: author.uuid,
        image: author.content.avatar.filename
    };
});

console.log(authors);
---

<Layout title="The Profitable Studio Blog | Spark Strategies">
    <main class="px-4 py-12 mx-auto max-w-7xl">
        <section class="mt-32 text-center">
            <h1 class="text-3xl font-extrabold text-gray-900 font-display sm:text-4xl">The Profitable Studio Blog</h1>
        </section>
        <section class="grid max-w-lg gap-6 mx-auto mt-12 lg:grid-cols-3 lg:max-w-none">
            {
                posts?.length && posts?.map(post => (
                    <div class="flex flex-col overflow-hidden rounded-lg shadow-lg">
                        <div class="flex-shrink-0">
                            <img class="object-cover w-full h-48" src={post.image} alt={post.title} />
                        </div>
                        <div class="flex flex-col justify-between flex-1 p-6 bg-white">
                            <div class="flex-1">
                                <div class="flex gap-2 text-xs font-medium text-white">
                                    {
                                        post.tags.map((tag) => (
                                            <span class="px-2 py-0.5 rounded-full bg-sparkRaspberry">{tag}</span>
                                        ))
                                    }
                                </div>
                                <a href={post.slug} class="block mt-2">
                                    <p class="text-xl font-semibold text-gray-900">{post.title}</p>
                                    <p class="mt-3 text-base text-gray-500 line-clamp-3">{post.excerpt}</p>
                                </a>
                            </div>
                            <div class="flex flex-col items-start mt-6">
                                <div class="flex-shrink-0">
                                    {
                                        authors?.length && authors?.map(author => (
                                            author.id === post.author && (
                                                <a href={`/authors/${author.slug}`} class="flex items-center gap-2">
                                                    <img class="w-10 h-10 rounded-full" src={author.image} alt={author.name} />
                                                    <div class="flex flex-col">
                                                        <span class="">{author.name}</span>
                                                        <div class="flex space-x-1 text-sm text-gray-500">
                                                            <time datetime="2020-03-16"> {post.date} </time>
                                                            <span aria-hidden="true"> &middot; </span>
                                                            <span>{post.readingTime} read</span>
                                                        </div>
                                                    </div>
                                                </a>
                                            )
                                        ))
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                ))
            }
        </section>
    </main>
</Layout>
