---
import { useStoryblokApi } from '@storyblok/astro';

const { client, accessToken } = useStoryblokApi()
const { data } = await client.get('cdn/stories/', {
    params: {
        version: 'published',
        token: accessToken,
        content_type: 'BlogPost',
        resolve_relations: 'Author',
    }
});
const posts = data.stories.map((story) => {
    return {
        title: story.content.title,
        date: new Date(story.published_at).toLocaleDateString('en-US', { dateStyle: 'full' }),
        image: story.content.main_image.filename,
        excerpt: story.content.excerpt,
        tags: story.tag_list,
        slug: story.full_slug,
        author: story.content.author
    };
});
---

<section class="text-center mt-32">
    <h1 class="text-3xl font-extrabold text-gray-900 sm:text-4xl">The Profitable Studio Blog</h1>
</section>
<section class="grid max-w-lg gap-5 mx-auto mt-12 lg:grid-cols-3 lg:max-w-none">
    {
        posts?.length && posts?.map(post => (
            <div class="flex flex-col overflow-hidden rounded-lg shadow-lg">
                <div class="flex-shrink-0">
                    <img class="object-cover w-full h-48" src={post.image} alt={post.title} />
                </div>
                <div class="flex flex-col justify-between flex-1 p-6 bg-white">
                    <div class="flex-1">
                        <p class="text-sm font-medium text-primaryColor">
                            {
                                post.tags.map((tag) => (
                                    <span class="mr-2">{tag}</span>
                                ))
                            }
                        </p>
                        <a href={post.slug} class="block mt-2">
                            <p class="text-xl font-semibold text-gray-900">{post.title}</p>
                            <p class="mt-3 text-base text-gray-500 line-clamp-3">{post.excerpt}</p>
                        </a>
                    </div>
                    <div class="flex items-center mt-6">
                        <div class="flex-shrink-0">
                            <a href="#">
                                <p>author photos</p>
                            </a>
                        </div>
                        <div class="ml-3">
                            <p class="text-sm font-medium text-gray-900">
                                <a href="#" class="hover:underline">
                                    {post.author.name}
                                </a>
                            </p>
                            <div class="flex space-x-1 text-sm text-gray-500">
                                <time datetime="2020-03-16"> {post.date} </time>
                                <span aria-hidden="true"> &middot; </span>
                                <span> {post.readingTime} read </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        ))
    }
</section>
