---
import { storyblokEditable, renderRichText } from '@storyblok/astro';

const { blok } = Astro.props;
const content = renderRichText(blok.content);
---

<main class="px-4 pb-20 mx-auto pt-36 max-w-prose">
    <article {...storyblokEditable(blok)} class="prose sm:prose-lg">
        <h1>{blok.title}</h1>
        <div>
            <div class="flex flex-col">
                <span
                    >By
                    {
                        (() => {
                            switch (blok.author) {
                                case '40e7c85d-dbd6-4292-9430-800d0b448b58':
                                    return 'Juliana Larochelle';
                                case '8db3389b-9595-45d7-8719-bb9ea1869f99':
                                    return 'Aida Solomon';
                                default:
                                    return "Nicole D'Andrea";
                            }
                        })()
                    }
                </span>
                <span class="text-sm"
                    >Posted on: {new Date(blok.date).toLocaleDateString('en-US')}</span
                >
                <span class="text-sm">{blok.reading_time} read</span>
            </div>
        </div>
        <p>{blok.excerpt}</p>
        <img src={blok.main_image.filename} alt={blok.main_image.alt} />
        <Fragment set:html={content} />
    </article>
</main>
