---
import { storyblokEditable, renderRichText } from '@storyblok/astro';

const { blok } = Astro.props;
const content = renderRichText(blok.content);
---

<main class="px-4 pb-20 mx-auto pt-36 max-w-prose">
    <article {...storyblokEditable(blok)} class="prose sm:prose-lg">
        <h1>{blok.title}</h1>
        <div>
            <div class="flex flex-col">
                <span
                    >By {
                        blok.author === '58f6306f-746d-4bb2-b1e6-30baf9d78280'
                            ? "Nicole D'Andrea"
                            : 'Juliana Larochelle'
                    }</span
                >
                <span class="text-sm"
                    >Posted on: {new Date(blok.date).toLocaleDateString('en-US')}</span
                >
                <span class="text-sm">{blok.reading_time} read</span>
            </div>
        </div>
        <p>{blok.excerpt}</p>
        <img src={blok.main_image.filename} alt={blok.main_image.alt} />
        <Fragment set:html={content} />
    </article>
</main>
