---
import { storyblokEditable, renderRichText } from '@storyblok/astro';

const { blok } = Astro.props;
const content = renderRichText(blok.content)
---

<main class="mt-32 max-w-prose mx-auto">
    <article {...storyblokEditable(blok)} class="prose prose-lg">
        <h1>{blok.title}</h1>
        <p>{blok.excerpt}</p>
        <img src={blok.main_image.filename} alt={blok.main_image.alt} />
        <span>{blok.date}</span>
        <span>{blok.author}</span>
        <span>{blok.reading_time}</span>
        <Fragment set:html={content} />
    </article>
</main>
