---
import { storyblokEditable, renderRichText } from '@storyblok/astro';
const { blok } = Astro.props;
const content = renderRichText(blok.copy);
---

<section {...storyblokEditable(blok)} class="py-16 sm:py-24">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
        <div class="mx-auto max-w-2xl lg:text-center">
            <h3 class="mt-1 text-3xl lg:text-5xl text-sparkHeader font-display">
                {blok.title}
            </h3>
            <div class="max-w-2xl mx-auto mt-5 prose">
                <Fragment set:html={content} />
            </div>
        </div>
        <div class="mx-auto mt-16 max-w-2xl sm:mt-20 lg:mt-24 lg:max-w-4xl">
            <dl
                class="grid max-w-xl grid-cols-1 gap-x-8 gap-y-10 lg:max-w-none lg:grid-cols-2 lg:gap-y-16"
            >
                <div class="relative pl-16">
                    <dt class="text-base font-semibold leading-7 text-gray-900">
                        <div
                            class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-sparkOrange"
                        >
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                fill="none"
                                viewBox="0 0 32 32"
                                class="h-6 w-6 text-sparkHeader"
                                stroke="currentColor"
                                aria-hidden="true"
                            >
                                <path
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    stroke-width="2"
                                    d="M26 19v-3.5c0-1.1935-.4741-2.3381-1.318-3.182C23.8381 11.4741 22.6935 11 21.5 11h-2c-.3978 0-.7794-.158-1.0607-.4393S18 9.89782 18 9.5v-2c0-1.19347-.4741-2.33807-1.318-3.18198C15.8381 3.47411 14.6935 3 13.5 3H11m6.9747 17.9747L20 23M14 3H7.5C6.672 3 6 3.672 6 4.5v22c0 .828.672 1.5 1.5 1.5h17c.828 0 1.5-.672 1.5-1.5V15c0-3.1826-1.2643-6.23484-3.5147-8.48528C20.2348 4.26428 17.1826 3 14 3v0Zm5 15.5c0 .4596-.0905.9148-.2664 1.3394-.1759.4246-.4337.8105-.7587 1.1355-.325.325-.7109.5828-1.1355.7587-.4246.1759-.8798.2664-1.3394.2664-.4596 0-.9148-.0905-1.3394-.2664-.4246-.1759-.8105-.4337-1.1355-.7587-.325-.325-.5828-.7109-.7587-1.1355C12.0905 19.4148 12 18.9596 12 18.5c0-.9283.3687-1.8185 1.0251-2.4749C13.6815 15.3687 14.5717 15 15.5 15c.9283 0 1.8185.3687 2.4749 1.0251C18.6313 16.6815 19 17.5717 19 18.5v0Z"
                                ></path>
                            </svg>
                        </div>
                        {blok.feature1_title}
                    </dt>
                    <dd class="mt-2 text-base leading-7 text-gray-600">
                        {blok.feature1_copy}
                    </dd>
                </div>
                <div class="relative pl-16">
                    <dt class="text-base font-semibold leading-7 text-gray-900">
                        <div
                            class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-sparkOrange"
                        >
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                fill="none"
                                viewBox="0 0 32 32"
                                class="h-6 w-6 text-sparkHeader"
                                stroke="currentColor"
                                aria-hidden="true"
                            >
                                <path
                                    stroke="#292524"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    stroke-width="2"
                                    d="M12.7067 21.4963c1.5854-.5402 3.1016-1.2652 4.5173-2.16m-6.724-.0334c.5403-1.5887 1.2662-3.1081 2.1627-4.5266m4.56 4.56c2.5285-1.5976 4.6927-3.709 6.352-6.1974l5.168-7.75197c.198-.29525.2873-.65008.2528-1.00388-.0346-.3538-.1909-.68463-.4422-.936-.2514-.25136-.5822-.40767-.936-.44222-.3538-.03456-.7087.05479-1.0039.25276l-7.752 5.16934c-2.4887 1.65887-4.6006 3.82257-6.1987 6.35067m4.56 4.56c-.9073-2.0292-2.5308-3.6527-4.56-4.56m.044 6.7187c-.3488-.86-.9858-1.5719-1.8018-2.0138-.816-.4419-1.76022-.5864-2.67102-.4086-.9108.1777-1.73146.6666-2.32143 1.3829-.58996.7163-.91251 1.6155-.9124 2.5435 0 .4108-.08437.8172-.24789 1.1941-.16352.3769-.4027.7161-.70272.9968-.30001.2806-.65447.4966-1.0414.6347-.38693.138-.79809.1951-1.20799.1677.65926 1.1453 1.67818 2.0409 2.89856 2.5477 1.22039.5069 2.57398.5967 3.85064.2555 1.27665-.3412 2.40495-1.0943 3.20975-2.1424.8048-1.0482 1.2411-2.3327 1.241-3.6541 0-.532-.104-1.04-.2933-1.504Z"
                                ></path>
                            </svg>
                        </div>
                        {blok.feature2_title}
                    </dt>
                    <dd class="mt-2 text-base leading-7 text-gray-600">
                        {blok.feature2_copy}
                    </dd>
                </div>
                <div class="relative pl-16">
                    <dt class="text-base font-semibold leading-7 text-gray-900">
                        <div
                            class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-sparkOrange"
                        >
                            <svg
                                class="h-6 w-6 text-sparkHeader"
                                fill="none"
                                viewBox="0 0 32 32"
                                stroke-width="1.5"
                                stroke="currentColor"
                                aria-hidden="true"
                            >
                                <path
                                    stroke="#292524"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    stroke-width="2"
                                    d="M26 19v-3.5c0-1.1935-.4741-2.3381-1.318-3.182C23.8381 11.4741 22.6935 11 21.5 11h-2c-.3978 0-.7794-.158-1.0607-.4393S18 9.89782 18 9.5v-2c0-1.19347-.4741-2.33807-1.318-3.18198C15.8381 3.47411 14.6935 3 13.5 3H11m0 17h10m-10 4h5M14 3H7.5C6.672 3 6 3.672 6 4.5v23c0 .828.672 1.5 1.5 1.5h17c.828 0 1.5-.672 1.5-1.5V15c0-3.1826-1.2643-6.23484-3.5147-8.48528C20.2348 4.26428 17.1826 3 14 3v0Z"
                                ></path>
                            </svg>
                        </div>
                        {blok.feature3_title}
                    </dt>
                    <dd class="mt-2 text-base leading-7 text-gray-600">
                        {blok.feature3_copy}
                    </dd>
                </div>
                <div class="relative pl-16">
                    <dt class="text-base font-semibold leading-7 text-gray-900">
                        <div
                            class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-sparkOrange"
                        >
                            <svg
                                class="h-6 w-6 text-sparkHeader"
                                fill="none"
                                viewBox="0 0 32 32"
                                stroke-width="1.5"
                                stroke="currentColor"
                                aria-hidden="true"
                            >
                                <path
                                    stroke="#292524"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    stroke-width="2"
                                    d="M9.10267 8.23361c-.24002.37988-.56024.70264-.93822.94564-.37798.243-.80455.40036-1.24978.46102-.50667.072-1.00934.14934-1.512.23334C3.99867 10.1069 3 11.3429 3 12.7656v11.2347c0 .7956.31607 1.5587.87868 2.1213.56261.5626 1.32567.8787 2.12132.8787h20c.7957 0 1.5587-.3161 2.1213-.8787.5626-.5626.8787-1.3257.8787-2.1213V12.7656c0-1.4227-1-2.6587-2.4027-2.89199-.503-.08382-1.0071-.1616-1.512-.23334-.445-.06085-.8713-.21829-1.249-.46128-.3777-.24299-.6978-.56566-.9376-.94538l-1.096-1.75467c-.2462-.39987-.5851-.73454-.988-.97569-.4029-.24114-.858-.38165-1.3267-.40964-2.3237-.12481-4.6523-.12481-6.976 0-.4687.02799-.9238.1685-1.3267.40964-.4029.24115-.7418.57582-.988.97569L9.10267 8.23361v0Z"
                                ></path>
                                <path
                                    stroke="#292524"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    stroke-width="2"
                                    d="M22 17c0 1.5913-.6321 3.1174-1.7574 4.2426C19.1174 22.3679 17.5913 23 16 23c-1.5913 0-3.1174-.6321-4.2426-1.7574C10.6321 20.1174 10 18.5913 10 17c0-1.5913.6321-3.1174 1.7574-4.2426C12.8826 11.6321 14.4087 11 16 11c1.5913 0 3.1174.6321 4.2426 1.7574C21.3679 13.8826 22 15.4087 22 17v0Zm3-3h.0107v.0107H25V14Z"
                                ></path>
                            </svg>
                        </div>
                        {blok.feature4_title}
                    </dt>
                    <dd class="mt-2 text-base leading-7 text-gray-600">
                        {blok.feature4_copy}
                    </dd>
                </div>
            </dl>
        </div>
    </div>
</section>
