---
import { storyblokEditable, renderRichText } from '@storyblok/astro';
import { Picture } from '@astrojs/image/components';
import ActionBox from '../components/ui/ActionBox.astro';
import SparkLogo from '../components/SparkLogo.astro';
import Nicole from '../img/team/nicole.jpg';
import Jenn from '../img/team/jenn.jpg';
import Aida from '../img/team/aida.jpg';
import Teresa from '../img/team/teresa.jpg';
import Allison from '../img/team/allison.webp';
import Pete from '../img/team/pl.jpg';

const { blok } = Astro.props;
const content = renderRichText(blok.content);

let steps = [
    {
        step: '1',
        title: 'Handy links',
        description:
            'Important links like how to access and use ClickUp, Google Drive and the Spark Resource Library',
    },
    {
        step: '2',
        title: 'Meet our team',
        description: 'An introduction to our team that will guide you to success',
    },
    {
        step: '3',
        title: 'Booking a session',
        description: 'How to book your first call on our private calendar ',
    },
];

let teamz = [
    {
        name: 'Nicole D’Andrea',
        title: 'Founder, Business Coach',
        image: Nicole,
    },
    {
        name: 'Allison Jones',
        title: 'Business Coach',
        image: Allison,
    },
    {
        name: 'Teresa Zanardelli',
        title: 'Business Coach',
        image: Teresa,
    },
    {
        name: 'Jenn Morrison',
        title: "Nicole's Executive Virtual Assistant",
        image: Jenn,
    },
    {
        name: 'Pete Lloyd',
        title: 'Web & Graphic Designer',
        image: Pete,
    },
    {
        name: 'Aida Solomon',
        title: 'Branding & Marketing Strategist',
        image: Aida,
    },
];
---

<header class="bg-sparkHeader" {...storyblokEditable(blok)}>
    <nav
        class="items-center justify-between table p-6 mx-auto lg:flex max-w-7xl lg:px-8"
        aria-label="Global"
    >
        <div class="flex flex-1">
            <div class="hidden lg:flex lg:gap-x-12">
                <a href="#" class="font-semibold leading-6 text-sparkPeach">Welcome</a>
                <a href="#" class="font-semibold leading-6 text-sparkPeach">First Steps</a>
                <a href="#" class="font-semibold leading-6 text-sparkPeach">Our Team</a>
            </div>
        </div>
        <div class="flex items-center space-x-4">
            <span class="sr-only">Your Company</span>
            <img class="w-24" src={blok.client_logo.filename} alt={blok.client_name} />
            <span class="text-xl text-sparkOrange">+</span>
            <span class="sr-only">Your Company</span>
            <SparkLogo width="w-24" />
        </div>
        <div class="justify-end flex-1 hidden lg:flex">
            <a
                href={blok.hero_loom_link.url}
                target="_blank"
                rel="noopener noreferrer"
                class="font-semibold leading-6 text-sparkPeach"
                >Get started <span aria-hidden="true">&rarr;</span></a
            >
        </div>
    </nav>
</header>

<main {...storyblokEditable(blok)}>
    <!-- Hero -->
    <section class="bg-white">
        <div class="relative isolate">
            <div class="overflow-hidden">
                <div class="px-6 pt-20 pb-20 mx-auto max-w-7xl sm:pt-60 lg:px-8 lg:pt-32">
                    <div
                        class="max-w-2xl mx-auto gap-x-14 lg:mx-0 lg:flex lg:max-w-none lg:items-center"
                    >
                        <div class="w-full max-w-xl lg:shrink-0 xl:max-w-2xl">
                            <h1
                                class="text-4xl font-bold tracking-tight text-sparkHeader font-display sm:text-7xl"
                            >
                                {blok.hero_title}
                            </h1>
                            <p
                                class="relative mt-6 text-2xl leading-8 text-sparkBody sm:max-w-md lg:max-w-none"
                            >
                                {blok.hero_subtitle}
                            </p>
                            <p
                                class="relative mt-6 text-lg leading-8 text-sparkBody sm:max-w-md lg:max-w-none"
                            >
                                {blok.hero_copy}
                            </p>
                            <div class="relative flex items-center mt-12 xl:mt-20 gap-x-6">
                                <a
                                    href={blok.hero_loom_link.url}
                                    target="_blank"
                                    rel="noopener noreferrer"
                                    class="rounded-md pulse bg-sparkRaspberry px-6 py-2.5 font-semibold text-white shadow-sm hover:bg-sparkRaspberry/80 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-sparkRaspberry"
                                    >A message from our team!
                                </a>
                                <div
                                    class="absolute hidden xl:block -top-14 -left-12 text-sparkOrange"
                                >
                                    <span class="font-bold">click me!</span>
                                    <svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        fill="none"
                                        viewBox="0 0 79 23"
                                        class="relative left-12"
                                    >
                                        <path
                                            fill="#005370"
                                            d="M71.5641 22.8182c.4519.3175 1.0756.2086 1.3932-.2432l5.1747-7.3636c.3176-.4518.2087-1.0756-.2432-1.3931-.4518-.3176-1.0756-.2087-1.3931.2432l-4.5998 6.5454-6.5454-4.5998c-.4518-.3176-1.0756-.2087-1.3931.2432-.3176.4518-.2087 1.0756.2432 1.3931l7.3635 5.1748ZM1.13507 2.8645c.34432.43181.9735.50274 1.40531.15841.43181-.34432.50274-.9735.15842-1.40531L1.13507 2.8645Zm3.55063.87483c-.40975-.3703-1.04211-.33832-1.41241.07143-.3703.40975-.33832 1.04211.07143 1.41241L4.6857 3.73933Zm1.24667 3.43673c.46881.29195 1.08553.14856 1.37747-.32025.29194-.46882.14856-1.08554-.32026-1.37748L5.93237 7.17606Zm3.63618-.39395c-.51262-.20552-1.09479.04343-1.30031.55605-.20553.51262.04343 1.09479.55605 1.30031l.74426-1.85636ZM11.903 9.59455c.5383.12319 1.0746-.21339 1.1978-.75176.1232-.53837-.2133-1.07467-.7517-1.19785l-.4461 1.94961Zm3.351-1.48646c-.5497-.05311-1.0384.34948-1.0915.89921-.0531.54972.3495 1.0384.8992 1.0915l.1923-1.99071Zm2.976 2.12951c.5523-.0025.998-.45221.9955-1.00449-.0025-.55228-.4523-.99797-1.0045-.99547l.009 1.99996Zm2.98-2.13398c-.5504.04491-.9603.52755-.9153 1.07801.0449.55045.5275.96027 1.078.91537L21.21 8.10362Zm3.272 1.64494c.547-.07649.9284-.58189.8519-1.12886-.0765-.54696-.5819-.92836-1.1289-.85187l.277 1.98073Zm2.7152-2.46683c-.5433.09929-.9032.6202-.8039 1.16348.0993.54329.6202.90322 1.1635.80393l-.3596-1.96741Zm3.4001 1.36339c.5402-.11483.885-.64585.7702-1.18607-.1148-.54021-.6459-.88505-1.1861-.77022l.4159 1.95629Zm2.5662-2.61996c-.5381.12412-.8738.661-.7497 1.19916.1242.53816.661.8738 1.1992.74968l-.4495-1.94884Zm3.4459 1.24474c.5374-.12759.8695-.66663.7419-1.20397-.1276-.53735-.6666-.86951-1.2039-.74192l.462 1.94589Zm2.5328-2.65294c-.5379.1252-.8725.66275-.7473 1.20066.1252.5379.6627.87247 1.2006.74728l-.4533-1.94794Zm3.4354 1.27647c.5399-.11626.8833-.64819.7671-1.1881-.1163-.53991-.6482-.88335-1.1881-.76709l.421 1.95519Zm2.6206-2.5649c-.5432.09934-.9031.62028-.8038 1.16356.0993.54328.6203.90316 1.1636.80383l-.3598-1.96739Zm3.3408 1.4939c.5476-.07181.9333-.57393.8615-1.12153-.0718-.5476-.5739-.9333-1.1215-.8615l.26 1.98303Zm2.8734-2.27913c-.5515.02913-.9749.49984-.9458 1.05135.0291.55152.4998.97499 1.0513.94586l-.1055-1.99721Zm2.9608 2.00648c.5508.04055 1.0302-.37309 1.0707-.92388.0406-.55079-.3731-1.03017-.9239-1.07072l-.1468 1.9946Zm3.1683-1.52707c-.5369-.12945-1.0771.20085-1.2065.73775-.1295.5369.2008 1.07708.7377 1.20653l.4688-1.94428Zm2.1058 2.81c.5058.22192 1.0957-.00815 1.3176-.51389.2219-.50573-.0082-1.09562-.5139-1.31754l-.8037 1.83143Zm3.4904-.35489c-.4588-.30746-1.08-.18477-1.3874.27403-.3075.45879-.1848 1.07996.274 1.38741l1.1134-1.66144Zm1.0188 3.36457c.4024.37823 1.0353.3586 1.4135-.04385.3783-.40244.3586-1.0353-.0438-1.41353l-1.3697 1.45738Zm3.4225.7779c-.3441-.43194-.9733-.5031-1.4052-.15894-.432.34416-.5031.97335-.159 1.40525l1.5642-1.24631Zm.0225 3.51831c.2886.4709.9043.6187 1.3752.33.4709-.2886.6186-.9043.33-1.3751l-1.7052 1.0451Zm3.1328 1.5937c-.2374-.4987-.8341-.7105-1.3328-.4731-.4986.2374-.7104.8341-.473 1.3328l1.8058-.8597Zm-.7238 3.443c.1895.5188.7637.7857 1.2824.5962.5187-.1896.7856-.7637.5961-1.2825l-1.8785.6863Zm2.7749 2.1698c-.1399-.5343-.6864-.854-1.2206-.7142-.5343.1399-.854.6864-.7142 1.2207l1.9348-.5065ZM.175005 1.56514c.310651.45349.630773.8864.960065 1.29936L2.6988 1.6176C2.40038 1.24336 2.10897.849413 1.825.43486L.175005 1.56514ZM3.34472 5.22317c.82372.74441 1.68785 1.39257 2.58765 1.95289l1.05721-1.69773c-.7994-.4978-1.56852-1.07443-2.30388-1.739L3.34472 5.22317Zm5.47957 3.4153c.99921.40061 2.02741.71554 3.07871.95608l.4461-1.94961c-.9575-.2191-1.8854-.50396-2.78055-.86283l-.74426 1.85636Zm6.23741 1.46033c1.0412.1006 2.0989.1437 3.1683.1388l-.009-1.99996c-1.0102.00457-2.0002-.03616-2.967-.12955l-.1923 1.99071Zm6.311-.0018c1.0294-.084 2.0672-.20271 3.1093-.34844l-.277-1.98073c-1.0096.14119-2.0089.25534-2.995.33579l.1627 1.99338Zm6.1841-.84786c1.0125-.18505 2.0272-.38863 3.0405-.60402l-.4159-1.95629c-.9986.21227-1.9941.41196-2.9842.5929l.3596 1.96741ZM33.613 7.974c1.0034-.23141 2.0039-.46841 2.9964-.7041l-.462-1.94589c-.9926.23568-1.9875.47134-2.9839.70115L33.613 7.974Zm5.9825-1.4091c1.0061-.23416 2.0008-.46018 2.9821-.67147l-.421-1.95519c-.9959.21442-2.0021.44311-3.0144.67872l.4533 1.94794Zm5.9625-1.26898c1.0161-.1858 2.0108-.34627 2.981-.47349l-.26-1.98303c-1.0099.13242-2.0384.29855-3.0808.48913l.3598 1.96739Zm5.9599-.75541C52.0217 4.51391 52.5158 4.5 53 4.5v-2c-.5223 0-1.0518.015-1.5876.0433l.1055 1.99721ZM53 4.5c.4702 0 .9279.01699 1.3732.04978l.1468-1.9946C54.0251 2.51873 53.5185 2.5 53 2.5v2Zm4.0727.46699c.9157.22078 1.7726.51375 2.5746.86572l.8037-1.83143c-.9087-.39876-1.8775-.72977-2.9095-.97857l-.4688 1.94428Zm4.9516 2.17227c.7691.51541 1.4784 1.08867 2.1322 1.70313l1.3697-1.45738c-.7275-.68371-1.5219-1.32645-2.3885-1.90719l-1.1134 1.66144Zm3.9905 3.72734c.5882.7382 1.1153 1.503 1.5867 2.272l1.7052-1.0451c-.5096-.8314-1.0832-1.6643-1.7277-2.47321l-1.5642 1.24631Zm2.9137 4.7254c.4324.9082.7896 1.7831 1.082 2.5833l1.8785-.6863c-.3111-.8515-.6921-1.785-1.1547-2.7567l-1.8058.8597Zm1.9221 5.2596c.1105.4219.1873.7576.2361.9852.0243.1138.0417.2004.0527.2572.0055.0284.0094.0494.0118.0625.0012.0065.002.0111.0025.0137.0002.0013.0003.0021.0004.0024v.0001-.0003s-.0001-.0001-.0001-.0002v-.0001c0-.0001 0-.0001.9851-.1721.9851-.172.9851-.172.9851-.1721 0 0 0-.0001-.0001-.0002v-.0003c-.0001-.0003-.0001-.0005-.0002-.0008-.0001-.0007-.0002-.0014-.0004-.0023-.0003-.0017-.0007-.004-.0012-.0068-.001-.0055-.0023-.0131-.0041-.0226-.0035-.0191-.0086-.0462-.0153-.0808-.0134-.0693-.0333-.1689-.0606-.2961-.0545-.2545-.1382-.6196-.2569-1.0729l-1.9348.5065Z"
                                        ></path>
                                    </svg>
                                </div>
                            </div>
                        </div>
                        <div
                            class="flex justify-end gap-8 mt-14 sm:-mt-44 sm:justify-start sm:pl-20 lg:mt-0 lg:pl-0"
                        >
                            <div
                                class="flex-none w-56 pt-32 ml-auto space-y-8 sm:ml-0 sm:pt-80 lg:order-last lg:pt-36 xl:order-none xl:pt-72"
                            >
                                <div class="relative">
                                    <img
                                        src="/onboarding/hero-1.png"
                                        alt=""
                                        class="object-cover w-full h-full shadow-lg aspect-1 rounded-xl bg-gray-900/5"
                                    />
                                    <div
                                        class="absolute inset-0 pointer-events-none rounded-xl ring-1 ring-inset ring-gray-900/10"
                                    >
                                    </div>
                                </div>
                            </div>
                            <div class="flex-none w-56 mr-auto space-y-8 sm:mr-0 sm:pt-52 lg:pt-36">
                                <div class="relative">
                                    <img
                                        src="/onboarding/hero-2.png"
                                        alt=""
                                        class="object-cover w-full h-full shadow-lg aspect-1 rounded-xl bg-gray-900/5"
                                    />
                                    <div
                                        class="absolute inset-0 pointer-events-none rounded-xl ring-1 ring-inset ring-gray-900/10"
                                    >
                                    </div>
                                </div>
                                <div class="relative">
                                    <img
                                        src="/onboarding/hero-3.png"
                                        alt=""
                                        class="object-cover w-full h-full shadow-lg aspect-1 rounded-xl bg-gray-900/5"
                                    />
                                    <div
                                        class="absolute inset-0 pointer-events-none rounded-xl ring-1 ring-inset ring-gray-900/10"
                                    >
                                    </div>
                                </div>
                            </div>
                            <div class="flex-none w-56 pt-32 space-y-8 sm:pt-0">
                                <div class="relative">
                                    <img
                                        src="/onboarding/hero-4.png"
                                        alt=""
                                        class="object-cover w-full h-full shadow-lg aspect-1 rounded-xl bg-gray-900/5"
                                    />
                                    <div
                                        class="absolute inset-0 pointer-events-none rounded-xl ring-1 ring-inset ring-gray-900/10"
                                    >
                                    </div>
                                </div>
                                <div class="relative">
                                    <img
                                        src="/onboarding/hero-5.png"
                                        alt=""
                                        class="object-cover w-full h-full shadow-lg aspect-1 rounded-xl bg-gray-900/5"
                                    />
                                    <div
                                        class="absolute inset-0 pointer-events-none rounded-xl ring-1 ring-inset ring-gray-900/10"
                                    >
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Steps -->
    <section id="profitable-studio-masterclass" class="relative py-12 bg sm:py-24 scroll-mt-16">
        <div class="max-w-4xl px-4 mx-auto sm:text-center flow">
            <h2 class="text-3xl font-extrabold sm:text-5xl text-sparkHeader">
                This personalized onboarding page will walk you through our next steps.
            </h2>
        </div>
        <div class="max-w-5xl px-4 mx-auto mt-6 sm:mt-12">
            <div class="flex flex-col gap-4 lg:gap-40">
                {
                    steps.map((step) => (
                        <aside class="relative flex items-baseline max-w-lg gap-4 py-6 hide step-card even:self-end">
                            <span class="text-6xl font-semibold uppercase text-sparkRaspberry">
                                {step.step}
                            </span>
                            <div>
                                <h4 class="text-2xl font-bold sm:text-3xl text-sparkHeader">
                                    {step.title}
                                </h4>
                                <p class="text-sparkBody">{step.description}</p>
                            </div>
                        </aside>
                    ))
                }
                <div class="self-center mt-12 final-step hide">
                    <div class="rounded-[40px] bg-sparkBlue shadow-lg px-8 py-10 max-w-2xl">
                        <div class="flow">
                            <p
                                class="text-lg leading-normal text-center text-sparkPeach sm:text-xl"
                            >
                                A sincere thank you for trusting us with this process. We know that
                                investing in your business (and yourself!) is a massive step, and
                                we’re thrilled to be part of your journey.
                            </p>
                            <p class="text-4xl text-center font-display text-sparkPeach">
                                To your brilliant future!
                            </p>
                            <span class="block text-center text-sparkPeach"
                                ><span class="mb-1 text-5xl cursive text-sparkPeach">Nicole</span>
                                <br /> &amp; the Spark Strategies Team</span
                            >
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Team -->
    <section class="py-16 bg-white sm:py-20">
        <div class="relative grid grid-cols-1 gap-20 px-6 mx-auto max-w-7xl lg:px-8 xl:grid-cols-3">
            <div class="max-w-2xl mx-auto lg:mx-0">
                <h2 class="text-3xl font-bold tracking-tight text-sparkHeader sm:text-4xl">
                    Our team
                </h2>
                <p class="mt-6 text-lg leading-8 text-sparkBody">
                    Think of us as your dedicated team, here to support and guide you every step of the way. Open communication is key—so don’t hesitate to reach out and leverage all the resources available to you. Many of our clients achieve their best results by staying engaged between meetings.
                </p>
                <p class="mt-6 text-lg leading-8 text-sparkBody">
                    Please note: To ensure we can deliver on our contract, it’s essential to complete ClickUp tasks on time and respond to communications within 48 business hours. Delays in these areas may impact our ability to meet project goals.
                </p>
            </div>

            <ul
                role="list"
                class="grid max-w-2xl grid-cols-1 mx-auto gap-x-6 gap-y-20 sm:grid-cols-2 lg:mx-0 lg:max-w-none lg:gap-x-8 xl:col-span-2"
            >
                {
                    teamz.map((team) => (
                        <li>
                            <Picture
                                src={team.image}
                                alt="Nicole"
                                widths={[400, 800, 1200]}
                                sizes="(max-width: 800px) 100vw, 800px"
                                aspectRatio="3:2"
                                class="object-cover object-bottom rounded-2xl"
                            />
                            <h3 class="mt-6 text-lg font-semibold leading-8 text-sparkHeader">
                                {team.name}
                            </h3>
                            <p class="text-base leading-7 text-sparkBody">{team.title}</p>
                        </li>
                    ))
                }
            </ul>
            <div class="hidden xl:block absolute -left-[26rem] top-40">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 644 840"
                    class="w-[896px]"
                >
                    <g fill="#D881AB" clip-path="url(#a)" opacity=".4">
                        <path
                            d="M434.034 493.427c.276 23.276-4.232 45.356-13.248 65.504-9.109 20.241-21.805 37.905-37.721 52.717-15.916 14.812-35.236 26.68-57.409 35.42-22.172 8.648-46.552 13.249-72.404 13.525-1.84 0-4.048 0-6.624.092-22.725.368-75.809 1.288-105.342-6.441-102.4888-26.68-132.02113-66.24-138.8292-94.669-6.16407-26.036 5.42791-50.324 19.6881-62.928 11.5921-10.212 26.9563-15.64 42.5965-15.64 5.6121 0 11.3163.736 16.8363 2.208 18.7683 4.968 32.9363 17.572 38.8243 34.684 19.872 57.317 72.957 116.657 127.421 116.657 24.933 0 45.449-6.992 60.997-20.7 15.272-13.524 22.909-31.464 22.633-53.361-.184-19.596-7.913-34.5-25.669-49.956-16.652-14.536-43.976-28.428-80.961-41.309l-72.772-25.484c-46.645-16.376-81.1456-34.684-102.3058-54.557-16.2842-15.18-28.5203-41.308-31.2803-66.608-.368-3.496-1.0119-12.696-1.0119-13.892-.276-22.817 4.508-44.621 13.9841-64.769 9.5681-20.148 22.8164-37.813 39.5606-52.349 16.7442-14.536 36.8923-26.312 59.9843-35.052 23.093-8.648 48.669-13.248 76.085-13.524 12.696-.092 26.036.644 39.837 2.3.736.092 1.932.276 3.496.46 57.224 7.82 104.697 8.464 141.129 1.932 1.104-.184 3.036-.736 4.876-1.196.46-.092.92-.276 1.38-.368l-.92 62.1c-.276 16.561-9.844 30.637-24.932 36.709-14.996 6.072-31.464 2.576-42.873-9.016-42.688-43.149-79.672-64.125-113.161-64.125-16.652 0-47.012 2.116-63.02 16.376-13.985 12.512-21.069 29.165-20.793 49.681.092 10.304 2.484 20.148 7.176 29.348 4.6 9.292 10.948 16.928 18.676 23 8.649 6.44 20.977 13.433 36.709 20.793 15.732 7.452 33.304 14.628 52.348 21.252l66.517 24.196c26.589 9.752 49.037 20.976 66.517 33.396 9.2 6.901 17.112 13.985 23.552 21.069 19.689 22.08 29.901 49.772 30.177 82.525h.276ZM291.433 107.022l14.536-89.0566c1.38-8.46407-4.324-16.37616-12.788-17.756171-8.464-1.380019-16.377 4.324051-17.757 12.788171l-14.812 90.6206c10.672 1.38 20.885 2.484 30.821 3.404Zm201.756-15.8244c-6.624-5.4281-16.376-4.4161-21.804 2.116l-30.177 36.9844-.276 16.376-.46 33.581 54.925-67.253c5.428-6.624 4.416-16.3764-2.208-21.8044Z"
                        ></path>
                        <path
                            d="M621.992 269.772c-3.036-8.004-11.96-12.052-19.964-9.016l-216.662 81.513c6.9 4.048 13.616 8.096 19.688 12.42l.46.368.368.276c3.68 2.76 7.176 5.52 10.488 8.372l196.514-73.969c8.004-3.036 12.052-11.96 9.016-19.964h.092Zm9.106 200.747-161.094-26.404c2.944 10.304 5.06 21.068 6.072 32.384l149.962 24.565c8.464 1.38 16.376-4.324 17.756-12.789 1.38-8.464-4.324-16.376-12.788-17.756h.092ZM342.03 686.72s-.46.184-.644.276c-9.2 3.588-18.768 6.441-28.52 8.833l42.136 111.965c1.932 5.152 6.532 8.924 11.96 9.844 2.668.46 5.428.184 8.004-.736 7.729-3.036 11.593-11.592 8.925-19.412l-41.769-110.678-.092-.092Zm-179.307 14.446-19.688 120.061c-1.38 8.464 4.324 16.376 12.788 17.756 8.464 1.38 16.377-4.324 17.757-12.788l20.148-122.913c-11.408-.46-21.712-1.196-31.005-2.116ZM96.3886 124.503c6.3484-3.036 12.9724-5.797 19.6884-8.373 2.944-1.104 6.072-1.932 9.108-2.944L94.2728 30.9375c-3.036-8.0041-11.9603-12.0521-19.9643-9.0161-8.0041 3.0361-12.0523 11.9602-9.0162 19.9642l31.0963 82.5254v.092ZM-15.0241 364.717l-162.0139-26.496c-8.464-1.38-16.376 4.324-17.756 12.788-1.38 8.464 4.324 16.376 12.788 17.756L2.54814 399.034c-7.08407-10.396-12.97214-21.989-17.57224-34.225v-.092Zm33.5822 283.179-64.4007 78.937c-5.0601 6.532-4.0481 15.916 2.3 21.252 2.116 1.656 4.6001 2.852 7.2681 3.312 5.4281.92 10.948-1.196 14.444-5.428l66.8849-81.973c-9.6601-5.06-18.4923-10.396-26.5884-16.008l.0921-.092Zm533.1429 18.676-.552.368-96.969-79.213c-4.784 9.108-10.029 17.848-16.009 26.037l93.842 76.636c2.116 1.748 4.6 2.852 7.268 3.312 6.9 1.197 13.708-2.484 16.56-8.832 2.852-6.348 1.104-13.984-4.324-18.308h.184Z"
                        ></path>
                    </g>
                    <defs>
                        <clipPath id="a">
                            <path fill="#fff" d="M-195 .003418h839v839.185h-839z"></path>
                        </clipPath>
                    </defs>
                </svg>
            </div>
        </div>
    </section>
    <!-- Handy Links -->
    <section class="py-16 bg-sparkPeach sm:py-20">
        <div class="px-6 mx-auto max-w-7xl lg:px-8">
            <div class="max-w-2xl mx-auto lg:mx-0">
                <h2 class="text-3xl font-bold tracking-tight text-sparkHeader sm:text-4xl">
                    Handy links
                </h2>
                <p class="mt-4 text-lg leading-8 text-sparkBody">
                    All the information you need is in the following three places:
                </p>
            </div>
            <div class="max-w-2xl mx-auto mt-16 lg:max-w-none">
                <dl class="grid max-w-xl grid-cols-1 gap-x-8 gap-y-16 lg:max-w-none lg:grid-cols-3">
                    <div class="flex flex-col">
                        <dt class="text-2xl font-semibold leading-7 text-sparkHeader">
                            <div
                                class="flex items-center justify-center w-10 h-10 mb-6 rounded-lg bg-sparkBlue"
                            >
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    fill="none"
                                    viewBox="0 0 24 24"
                                    class="w-6 h-6"
                                >
                                    <g
                                        fill="#fff"
                                        fill-rule="evenodd"
                                        clip-path="url(#a)"
                                        clip-rule="evenodd"
                                    >
                                        <path
                                            d="m2.25 18.3679 3.61549-2.7693c1.91992 2.5066 3.95882 3.6618 6.23081 3.6618 2.2594 0 4.2422-1.1418 6.0761-3.6286l3.6653 2.703c-2.6441 3.5854-5.9338 5.4797-9.7414 5.4797-3.79506 0-7.11519-1.8809-9.8463-5.4466Zm9.7828-12.03611L5.59783 11.8767 2.625 8.42669 12.0456.309082 21.393 8.43301l-2.9875 3.43739-6.3727-5.53861Z"
                                        ></path>
                                    </g>
                                    <defs>
                                        <clipPath id="a">
                                            <path fill="#fff" d="M0 .188965h24v24H0z"></path>
                                        </clipPath>
                                    </defs>
                                </svg>
                            </div>
                            Clickup
                        </dt>
                        <dd class="flex flex-col flex-auto mt-2 text-base leading-7 text-sparkBody">
                            <p class="flex-auto">
                                With ClickUp, our team will track and manage tasks, set goals, and
                                report on progress. It will help us stay organized and ensure a
                                smooth, efficient workflow throughout our partnership.
                            </p>
                            <p class="mt-6">
                                <a
                                    href={blok.clickup_link.url}
                                    target="_blank"
                                    rel="noopener noreferrer"
                                    class="text-base font-semibold leading-6 text-sparkBlue"
                                    >Head over to ClickUp<span aria-hidden="true">→</span></a
                                >
                            </p>
                        </dd>
                    </div>
                    <div class="flex flex-col">
                        <dt class="text-2xl font-semibold leading-7 text-sparkHeader">
                            <div
                                class="flex items-center justify-center w-10 h-10 mb-6 rounded-lg bg-sparkBlue"
                            >
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    fill="none"
                                    viewBox="0 0 24 24"
                                    class="w-6 h-6"
                                >
                                    <path
                                        fill="#ffffff"
                                        d="M15.9193 2H8.0807L0 16.0911l3.8233 6.7785h16.3534L24 16.0911 15.9193 2ZM7.75513 16.0911l4.24907-7.32936 4.249 7.32936H7.75513Z"
                                    ></path>
                                </svg>
                            </div>
                            Google Drive
                        </dt>
                        <dd class="flex flex-col flex-auto mt-2 text-base leading-7 text-sparkBody">
                            <p class="flex-auto">
                                Google Drive will help us keep all our project-related digital
                                assets organized and accessible, facilitating efficient
                                collaboration and information sharing.
                            </p>
                            <p class="mt-6">
                                <a
                                    href={blok.drive_link.url}
                                    target="_blank"
                                    rel="noopener noreferrer"
                                    class="text-base font-semibold leading-6 text-sparkBlue"
                                    >Check out your new Google Drive <span aria-hidden="true"
                                        >→</span
                                    ></a
                                >
                            </p>
                        </dd>
                    </div>
                    <div class="flex flex-col">
                        <dt class="text-2xl font-semibold leading-7 text-sparkHeader">
                            <div
                                class="flex items-center justify-center w-10 h-10 mb-6 rounded-lg bg-sparkBlue"
                            >
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    fill="none"
                                    viewBox="0 0 24 24"
                                    class="w-6 h-6"
                                >
                                    <path
                                        stroke="#ffffff"
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                        stroke-width="3"
                                        d="M12 6.23097c-1.6484-1.47864-3.7856-2.29505-6-2.292-1.052 0-2.062.18-3 .512V18.701c.96362-.34 1.97816-.5132 3-.512 2.305 0 4.408.867 6 2.292m0-14.25003c1.6483-1.47872 3.7856-2.29515 6-2.292 1.052 0 2.062.18 3 .512V18.701c-.9636-.34-1.9782-.5132-3-.512-2.2144-.0031-4.3516.8133-6 2.292m0-14.25003V20.481"
                                    ></path>
                                </svg>
                            </div>
                            Resource Library
                        </dt>
                        <dd class="flex flex-col flex-auto mt-2 text-base leading-7 text-sparkBody">
                            <p class="flex-auto">
                                Our Resource Library houses a wealth of educational guides,
                                spreadsheets and videos to help you on your entrepreneurial journey.
                                Ranging from how-tos to informative webinars to tutorials, these
                                resources will provide valuable insights and knowledge at your
                                fingertips.
                            </p>
                            <p class="mt-6">
                                <a
                                    href="https://resources.sparkstrategies.co/"
                                    class="text-base font-semibold leading-6 text-sparkBlue"
                                    target="_blank"
                                    rel="noopener noreferrer"
                                    >Dive into the Resource Library <span aria-hidden="true">→</span
                                    ></a
                                >
                            </p>
                        </dd>
                    </div>
                </dl>
            </div>
        </div>
    </section>
    <!-- Book session -->
    <section class="py-16 overflow-hidden bg-white sm:py-20">
        <div class="mx-auto max-w-7xl md:px-6 lg:px-8">
            <div
                class="grid grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:grid-cols-2 lg:items-start"
            >
                <div class="px-6 lg:px-0 lg:pr-4 lg:pt-4">
                    <div class="max-w-2xl mx-auto lg:mx-0 lg:max-w-lg">
                        <h2 class="text-base font-semibold leading-7 text-sparkBlue">
                            Getting started
                        </h2>
                        <p
                            class="mt-2 text-3xl font-bold tracking-tight text-sparkHeader sm:text-4xl"
                        >
                            Pre-coaching work and booking a session
                        </p>
                        <p class="mt-6 text-lg leading-8 text-sparkBody">
                            First things first: complete this Pre-Coaching Deep Dive ahead of your
                            first call. This is a weighty document, and we ask that you give it
                            thought and care. If you don't know the answer to a question, look it up
                            or send us a message - the more detail, the better. This Deep Dive
                            allows us to maximize our understanding of your business, its operations
                            and its current state, and is critical to our consulting process. Once
                            you've completed your Deep Dive, you're ready to book your first call!
                        </p>
                        <a
                            href={blok.deep_dive_link.url}
                            target="_blank"
                            rel="noopener noreferrer"
                            class="items-center hidden px-8 py-2 mt-12 font-semibold tracking-widest rounded shadow-sm sm:inline-flex text-sparkPeach bg-sparkRaspberry font-body border-secondaryColor text-secondaryColor hover:bg-sparkRaspberry/80 focus:outline-none focus:ring-2 focus:ring-sparkRaspberry focus:ring-offset-2"
                        >
                            Pre-Coaching Deep Dive
                        </a>
                    </div>
                </div>
                <div class="sm:px-6 lg:px-0">
                    <div
                        class="relative px-6 pt-8 overflow-hidden isolate bg-sparkRaspberry sm:mx-auto sm:max-w-2xl sm:rounded-3xl sm:pl-16 sm:pr-0 sm:pt-16 lg:mx-0 lg:max-w-none"
                    >
                        <div
                            class="absolute -inset-y-px -left-3 -z-10 w-full origin-bottom-left skew-x-[-30deg] bg-sparkOrange/90 opacity-40 ring-1 ring-inset ring-white"
                            aria-hidden="true"
                        >
                        </div>
                        <div class="max-w-2xl mx-auto sm:mx-0 sm:max-w-none">
                            <img
                                src="/cal.jpg"
                                alt="Calendly Calendar Screenshot"
                                width="2432"
                                height="1442"
                                class="-mb-12 w-[40rem] max-w-none rounded-tl-xl bg-gray-800 ring-1 ring-white/10"
                            />
                        </div>
                        <div
                            class="absolute inset-0 pointer-events-none ring-1 ring-inset ring-black/10 sm:rounded-3xl"
                            aria-hidden="true"
                        >
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<script is:inline>
const observer = new IntersectionObserver((entries) => {
    entries.forEach((entry) => {
        console.log(entry);
        if (entry.isIntersecting) {
            entry.target.classList.add('show');
        }
    });
});

const hiddenElements = document.querySelectorAll('.hide');
hiddenElements.forEach((element) => {
    observer.observe(element);
});
</script>

<style lang="scss">
    .pulse {
        transform: scale(1);
        animation: pulse-btn 2s infinite;
    }

    @keyframes pulse-btn {
        0% {
            transform: scale(0.95);
            box-shadow: 0 0 0 0 rgba(232, 72, 83, 0.7);
        }

        70% {
            transform: scale(1);
            box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
        }

        100% {
            transform: scale(0.95);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
        }
    }

    .bg::before {
        content: ' ';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background-image: url('/patterns/spark-pattern.svg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    aside {
        @media (min-width: 768px) {
            &:nth-last-child(even)::after {
                content: url('/patterns/arrow-right.svg');
                position: absolute;
                top: calc(100% - -1rem);
                left: calc(100% - 25rem);
                width: 100%;
                height: 100%;
                z-index: -1;
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
            }
            &:nth-last-child(odd)::after {
                content: url('/patterns/arrow-left.svg');
                position: absolute;
                top: calc(100% - -1rem);
                right: calc(100% - 10rem);
                width: 100%;
                height: 100%;
                z-index: -1;
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
            }
        }
    }

    .hide {
        opacity: 0;
        filter: blur(5px);
        transform: translateX(-100%);
        transition: all 1s ease-in-out;
    }

    .show {
        opacity: 1;
        filter: blur(0);
        transform: translateX(0);
    }

    .step-card:nth-child(2) {
        transition-delay: 200ms;
    }

    .step-card:nth-child(3) {
        transition-delay: 400ms;
    }
    .final-step {
        transition-delay: 600ms;
    }

    @media (prefers-reduced-motion) {
        .hide {
            transition: none;
        }
    }
</style>
