---
import ActionBox from '../ui/ActionBox.astro';
import BgPattern from '../ui/BgPattern.astro';

let { title, description, ctaLink, image } = Astro.props;
---

<section class="relative px-4 py-4 sm:mb-0 sm:py-20 mt-28 sm:mt-32 overflow-x-clip">
    <div class="relative flex mx-auto lg:justify-end max-w-7xl">
        <div class="left-0 lg:absolute top-56 sm:top-16">
            <ActionBox cta="Book now" link={ctaLink}>
                <h1 class="text-3xl lg:text-[64px] leading-none font-extrabold">
                    {title}
                </h1>
                <p class="mt-4 text-xl leading-normal">
                    {description}
                </p>
                <img
                    src={image}
                    alt={title}
                    class="h-56 w-full mt-6 object-cover object-center rounded-[40px] lg:hidden"
                />
            </ActionBox>
        </div>
        <div>
            <img
                width="1912"
                height="1300"
                src={image}
                alt={title}
                class="hidden max-w-4xl lg:h-[600px] object-cover object-center rounded-[32px] lg:block"
            />
        </div>
    </div>
    <BgPattern height="728" yOffset="-translate-y-10" />
</section>

<style lang="scss">
    .brush::before {
        content: ' ';
        position: absolute;
        bottom: 10px;
        right: -5px;
        width: 100px;
        height: 12px;
        opacity: 1;
        z-index: -1;
        background-image: url(/patterns/brush.svg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        @media screen and (min-width: 1280px) {
            bottom: 18px;
            right: -5px;
            width: 205px;
            height: 25px;
        }
    }
</style>
