---
import ActionBox from '../ui/ActionBox.astro';
import CldImage from '../../components/ui/CldImage.astro';
import BgPattern from '../ui/BgPattern.astro';

let { title, description, ctaLink, image } = Astro.props;
---

<section class="py-4 mb-[28rem] sm:mb-0 sm:overflow-hidden sm:py-20">
    <div class="relative flex justify-end mx-auto max-w-7xl">
        <div class="absolute left-0 top-56 sm:top-16">
            <ActionBox cta="Book now" link={ctaLink}>
                <h1 class="text-3xl lg:text-[64px] leading-none font-extrabold">
                    {title}
                </h1>
                <p class="mt-4 text-xl leading-normal">
                    {description}
                </p>
            </ActionBox>
        </div>
        <div>
            <img
                width="1912"
                height="1300"
                src={image}
                alt={title}
                class="max-w-4xl h-[600px] object-cover object-center rounded-[32px] hidden sm:block"
            />
        </div>
        <BgPattern height="664" yOffset="-translate-y-10" />
    </div>
</section>

<style lang="scss">
    .brush::before {
        content: ' ';
        position: absolute;
        bottom: 10px;
        right: -5px;
        width: 100px;
        height: 12px;
        opacity: 1;
        z-index: -1;
        background-image: url(/patterns/brush.svg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        @media screen and (min-width: 1280px) {
            bottom: 18px;
            right: -5px;
            width: 205px;
            height: 25px;
        }
    }
</style>
