---
const {person, side} = Astro.props;
import CldImage from '../ui/CldImage.astro';
---
<div class="pt-16 lg:py-24">
    <div class="pb-16 bg-sparkRaspberry lg:relative lg:z-10 lg:pb-0">
      <div class="lg:mx-auto lg:grid lg:max-w-7xl lg:grid-cols-3 lg:gap-8 lg:px-8">
        <div class={`${side === 'left' ? 'order-1' : 'order-2' } relative lg:-my-8`}>
          <div class="max-w-md px-4 pt-16 mx-auto sm:max-w-3xl sm:px-6 lg:p-0 lg:pt-0">
            <CldImage
                width="768"
                height="1056"
                src={`clients/spark-strategies/${person.img}.jpg`}
                alt={person.name}
                class="object-cover object-top h-96 lg:h-full lg:shadow-xl rounded-2xl"
            />
          </div>
        </div>
        <div class={`${side === 'left' ? 'order-2' : 'order-1' } mt-12 lg:col-span-2 lg:m-0 lg:pl-8`}>
          <div class="max-w-md px-4 mx-auto sm:max-w-2xl sm:px-6 lg:max-w-none lg:px-0 lg:py-16">
            <blockquote>
              <div>
                <svg class="w-12 h-12 text-white opacity-25" fill="currentColor" viewBox="0 0 32 32" aria-hidden="true">
                  <path d="M9.352 4C4.456 7.456 1 13.12 1 19.36c0 5.088 3.072 8.064 6.624 8.064 3.36 0 5.856-2.688 5.856-5.856 0-3.168-2.208-5.472-5.088-5.472-.576 0-1.344.096-1.536.192.48-3.264 3.552-7.104 6.624-9.024L9.352 4zm16.512 0c-4.8 3.456-8.256 9.12-8.256 15.36 0 5.088 3.072 8.064 6.624 8.064 3.264 0 5.856-2.688 5.856-5.856 0-3.168-2.304-5.472-5.184-5.472-.576 0-1.248.096-1.44.192.48-3.264 3.456-7.104 6.528-9.024L25.864 4z" />
                </svg>
                <p class="mt-6 text-xl font-medium text-white lg:text-2xl">{person.quote}</p>
              </div>
              <footer class="mt-6">
                <p class="text-base font-medium text-white">{person.name}</p>
                <p class="text-base font-medium text-indigo-100">{person.title}</p>
              </footer>
            </blockquote>
          </div>
        </div>
      </div>
    </div>
</div>
